body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9; /* Light gray background */
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #2C3E50; /* Dark blue-gray */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #34495E; /* Darker blue-gray */
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    margin: 20px 0;
}

h2 {
    color: #3498DB; /* Light blue */
}

ul {
    list-style: none;
}

footer {
    background-color: #2C3E50; /* Dark blue-gray */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0; /* Stick to the bottom */
    width: 100%; /* Full width */
}
